* {
  box-sizing: border-box;
}

.nom.active {
  position: relative;
  border: thin solid darkred;
}

.nom.active.over {
  position: relative;
  background: #fff;
  z-index: 10000;
}

.nom.active.consumed {
  position: relative;
  background: #fff;
  z-index: 10000;
}

#nomBackground.active {
  position: absolute;
  left: 0; top: 0;
  z-index: 1000;
  background-color: #000;
  height: 100%;
  width: 100%;

  //transparency
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

#feedback, #send {
  position: relative;
  z-index: 1001;
}

#feedback {
  position: absolute;
  bottom: 0;
  right: 0;
}
